@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;

    width: 100%;
    height: 100vh;

    overflow: hidden;
    position: relative;
}

* {
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

:root {
    --fs-small: 1.5rem;
    --fs-medium: 2rem;

}

/* ========== 
Container
========== */

.nav-bar {
    width: 100%;
    height: 5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25em;
    background-color: antiquewhite;

    position: fixed;
}


.btn_wrap {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========== 
Typography
========== */


/* ========== 
Images
========== */

.nav_img {
    height: 34px;
    background-color: aqua;
}


/* ========== 
Buttons
========== */


/* ========== 
Utils
========== */
