@import "./_presets.css";

/* ========== 
Container
========== */
.page-content {
    width: 100%;
    height: 100vh;

    position: relative;
}

.page-header {
    width: 100vw;
}

.nav-bar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25em;
}

.profile_thumb {
    width: 100%;
    padding: 0 0.625em;

    overflow: hidden;
    position: relative;

    border-radius: 15px;
}

.profile_desc {
    position: absolute;

    left: 1.5em;
    bottom: 1em;

    z-index: 10;
}

.btn_wrap {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5em;

    padding: 1.5em 0
}

.liked-obj {
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 1em;
}

/* ========== 
Typography
========== */

.p_head {
    font-family: inherit;
    font-size: var(--fs-medium);
    font-weight: 600;
    line-height: 1.31;

    color: #FFFFFF;
}

.p_body {
    font-family: inherit;
    font-size: var(--fs-small);
    font-weight: 400;
    line-height: 1.33;
    
    color: #B7B7B7;
}


/* ========== 
Images
========== */

.nav_img {
    height: 2em;
}

.logo {
    height: 2.625em;
}

.profile_img,
.profile_img_s {
    object-fit: cover;
    object-position: center;

    border-radius: 15px;
}

.profile_img {
    width: 100%;
    height: 77.5vh;
}

.profile_img_s {
    width: 8em;
    height: 8em;
}

.like-icon,
.nope-icon {
    width: 2em;
    height: 2em;

    margin: auto;
}

.img-huge {
    width: 14.725em;

    position: absolute;
    z-index: 10;
}

.img-huge.nope {
    left: 1em;
    top: 10em;
    transform: rotate(-43deg);
}

.img-huge.like {
    right: 1.5em;
    top: 15em;
    transform: rotate(26deg);
}


/* ========== 
Buttons
========== */

.interact-btn {
    width: 5.625em;
    height: 5.625em;

    display: grid;

    border-radius: 100%;
    box-shadow: 0px 10px 20px #E9E9EA;
    background: #FFFFFF;
    border: none;

    cursor: pointer;
}

#like-btn:hover {
    background-color: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

#nope-btn:hover {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF
}


/* ========== 
Utils
========== */
.opacity-low {
    opacity: 0;
}

.black {
    color: #000;
}
